html {
  background-color: green;
}

.DeckOfCards {
  color: white;
  text-align: center;
}

.DeckOfCards-area {
  margin: 15%;
}

.DeckOfCards-btn {
  background-color: rgb(74, 73, 73);
  color: antiquewhite;
  font: bold;
  font-size: 16px;
  padding: 12px;
  width: 250px;
  height: 60px;
  border-radius: 6%;
}

.DeckOfCards-btn:hover {
  color: rgb(74, 73, 73);
  background-color: antiquewhite;
}
